{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set serviceName %}
Apply to be a lead sponsor
{% endset %}


{% block pageStyle %}
<link rel="stylesheet" href="/public/css/accessible-autocomplete.min.css" />

<style>
  .autocomplete__input {
    background-color: white;
    cursor: text;
  }

  .autocomplete__input--show-all-values {
    padding: 5px 34px 5px 5px; /* Space for arrow. Other padding should match .autocomplete__input--default. */
  }

  .autocomplete__dropdown-arrow-down{
    pointer-events: none;
    z-index: auto;
  }

  .autocomplete__menu--overlay {
      box-shadow: auto
  }
</style>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="org-board-ppt-2" method="post">

      <div class="govuk-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="fruit-type">
            What is the board member's nationality? (2 of up to 15)
          </label></h1>
              <select class="govuk-select" name="last-location" id="fruit-type">
                <option value="territory:AE-AZ" selected="selected"></option>
                <option value="Apple">Apple</option>
                <option value="Apricot">Apricot</option>
                <option value="Avocado">Avocado</option>
                <option value="Banana">Banana</option>
                <option value="Blackberry">Blackberry</option>
                <option value="Blueberry">Blueberry</option>
                <option value="Cherry">Cherry</option>
                <option value="Coconut">Coconut</option>
                <option value="Date">Date</option>
                <option value="Dragon fruit">Dragon fruit</option>
                <option value="Grapes">Grapes</option>
                <option value="Jack fruit">Jack fruit</option>
                <option value="Kiwi fruit">Kiwi fruit</option>
                <option value="Lychee">Lychee</option>
                <option value="Mango">Mango</option>
                <option value="Melon">Melon</option>
                <option value="Oranges">Oranges</option>
                <option value="Passion fruit">Passion fruit</option>
                <option value="Strawberry">Strawberry</option>
              </select>
    
       
{{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}

<!--{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript">
    // Accessibile autocomplete script
    var selectEl = document.querySelector('#fruit-type')
    accessibleAutocomplete.enhanceSelectElement({
      autoselect: true,
      confirmOnBlur: true,
      defaultValue: "",
      minLength: 2,
      selectElement: selectEl
    })
  </script>
  
  <script type="text/javascript">
    // Accessibile autocomplete script
    var selectEl = document.querySelector('#fruit-type-dropdown')
    accessibleAutocomplete.enhanceSelectElement({
      autoselect: true,
      confirmOnBlur: true,
      selectElement: selectEl,
      showAllValues: true,
      dropdownArrow: function (config) {return '<svg class="' + config.className + '" style="top: 8px;" viewBox="0 0 512 512" ><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9  c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3  z"/></svg>'}
    })
  </script>
{% endblock %}-->