{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set serviceName %}
Apply to be a lead sponsor
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="nationality" method="post">

        
<h1 class="govuk-heading-l">What is the safeguarding officer's date of birth?</h1>

{{ govukDateInput({
  id: "dob",
  namePrefix: "dob",
  fieldset: {
  }
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
