{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set serviceName %}
Apply to be a lead sponsor
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="alias-ques" method="post">



{{ govukInput({
  label: {
    text: "What is the safeguarding lead's full name?",
    classes: "govuk-label--l"
  },

    hint: {
      text: "Enter their full name as shown on their passport or other identity document"
  },

  id: "event-name",
  name: "eventName"
}) }}

{{ govukButton({
          text: "Continue"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
