{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="alias-added" method="post">

        
<h1 class="govuk-heading-l">What other name has the authorising officer used?</h1>

{{ govukInput({
  label: {
    text: "If there are more names to add, you can add them on the next screen"
  },
  id: "name-alias-1",
  name: "nameAlias"
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
