{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Apply to be a lead sponsor
{% endset %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="nationality" method="post">

<h1 class="govuk-heading-l">Board member details (1 of up to 15)</h1>

<p>You will need to add some more information about this board member after you have entered their name.</p>

<p>Make sure you have their:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>nationality</li>
  <li>date of birth</li>
  <li>passport details, if they have a passport</li>
</ul>

<p>You can add up to 15 board members.</p>

<p>If your board has more than 15 members, enter the first 15. You will then need to provide an email address so we can contact you to collect the details of the remaining board members.</p>
{{ govukInput({
  label: {
    text: "What is the board member's name?",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  id: "charity-number",
  name: "charityNumber"
}) }}

{{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
