{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set serviceName %}
Apply to be a lead sponsor
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="upload-ppt" method="post">

{{ govukInput({
  label: {
    text: "What is the key contact's passport number?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "This can be found on the photo page of their passport"
  },
  id: "key-ctc-ppt-nbr",
  name: "keyCtcPptNbr"
}) }}

{{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
