{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block pageTitle %}
Safe and legal design research
{% endblock %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a research prototype. No data added during research is stored in this service.'
}) }}
{% endblock %}

{% set serviceName %}
Safe and legal research
{% endset %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

  <p>Restoring Order and Control (ROC), includes a number of measures aimed at restoring fairness and public confidence in the asylum system. </p>

  <p>The 'Safe and legal' stream will support vulnerable people in need of protection.</p>

  <p>Community groups will sponsor vulnerable people to come to the UK. The Lead Sponsor will facilitate the initial training of community groups and complete suitability.</p>
  
  <p>A sponsoring organisation will need to be accredited by the Home Office before they are able to sponsor a community group. Lead sponsors will be required to apply for accreditation by completing an online form.</p>

  <p>The screens in this prototype includes the designs for each round of research.. </p>

  <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View design history
    </span>
  </summary>
  <div class="govuk-details__text">
    The <a href="https://lead-sponsor-form-history-6a9a93fbd9b3.herokuapp.com/">design history</a> is a record of what is in production.<br>
    Password: s@f3-choclate-ch!p5
  </div>
</details>

  <h2 class="govuk-heading-m">Lead sponsor application form</h2>

 <p>Organisations must use this form to apply to be a Lead Sponsor.</p>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#current">
        In research
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past">
        Previous research
      </a>
    </li>

  </ul>
  <div class="govuk-tabs__panel" id="current">
    <h2 class="govuk-heading-m">Current research</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><span class="govuk-caption-m">Round 1<br>
            <a href="../round-1/screen-index">MVP screens</a></P>
          </span></td>
          <td class="govuk-table__cell"><span class="govuk-caption-m">July 2026</span>
           <p>Assess changes needed before the form goes into production. Add any other changes to a backlog to be prioritised.
           </p></td>
       
        </tr>
     
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past">
    <h2 class="govuk-heading-m">Previous research</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Research playback</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">to be completed</td>
          <td class="govuk-table__cell">to be completed</td>
          <td class="govuk-table__cell">to be completed</td>
        </tr>
      </tbody>
    </table>
  </div>
 

</div>

  </div>
</div>

{% endblock %}
