{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block pageTitle %}
Safe and legal design history
{% endblock %}

{% set serviceName %}
Safe and legal design history
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

  <p>Restoring Order and Control (ROC), includes a number of measures aimed at restoring fairness and public confidence in the asylum system. </p>

  <p>The 'Safe and legal' stream will support vulnerable people in need of protection.</p>

  <p>Community groups will sponsor vulnerable people to come to the UK. The Lead Sponsor will facilitate the initial training of community groups and complete suitability.</p>
  
  <p>A sponsoring organisation will need to be accredited by the Home Office before they are able to sponsor a community group. Lead sponsors will be required to apply for accreditation by completing an online form.</p>

  <p>The screens in this design history show how the product has changed over time. </p>

  <h2 class="govuk-heading-m">Lead sponsor application form</h2>

 <p>Organisations must use this form to apply to be a Lead Sponsor.</p>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Minimum viable product (MVP)</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Screen</th>
      <th scope="col" class="govuk-table__header">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Start</th>
      <td class="govuk-table__cell"><span class="govuk-caption-m">GOV.UK</span><a href="app-lead-spnr/gov-start.html">Start an application</a> explains what is required to be a Lead Sponsor. </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Eligibility</th>
      <td class="govuk-table__cell"><span class="govuk-caption-m">GOV.UK Forms</span><a href="app-lead-spnr/org/eligibile">Lead sponsor eligibility</a> requirements. The user is asked if they meet the requirements.</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Not eligible</th>
      <td class="govuk-table__cell">If the <a href="app-lead-spnr/exit">eligibility criteria is not met</a> the user is advised they cannot continue with their application.</td>
    </tr>
    
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Route</th>
      <td class="govuk-table__cell">The user is required to <a href="app-lead-spnr/org/route">select the route</a> they wish to apply for.</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Name</th>
      <td class="govuk-table__cell">The <a href="app-lead-spnr/org/name">name of the organisation</a> making the application added.</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Charity</th>
      <td class="govuk-table__cell">The applicant is asked if they have a <a href="app-lead-spnr/org/charity">charity number</a>.</td>

      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Charity number</th>
      <td class="govuk-table__cell">If the applicant has <a href="app-lead-spnr/org/charity-nbr">a charity number, it is added</a>.</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Company</th>
      <td class="govuk-table__cell">The applicant is asked if they have a <a href="app-lead-spnr/org/company">company number</a></td>
    </tr>

      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Company number</th>
      <td class="govuk-table__cell">If the applicant has a <a href="app-lead-spnr/org/company-nbr">company number, it is added</a>.</td>
    </tr>
  </tbody>
</table>

  </div>
</div>

{% endblock %}
